# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# === BACKEND ===
# compiled output
/backend/mentara-api/dist
/backend/mentara-api/node_modules
/build

# Logs
/backend/mentara-api/logs
/backend/mentara-api/*.log
/backend/mentara-api/npm-debug.log*
/backend/mentara-api/pnpm-debug.log*
/backend/mentara-api/yarn-debug.log*
/backend/mentara-api/yarn-error.log*
/backend/mentara-api/lerna-debug.log*

# OS
/backend/mentara-api/.DS_Store

# Tests
/backend/mentara-api//coverage
/backend/mentara-api//.nyc_output

# IDEs and editors
/backend/mentara-api//.idea
/backend/mentara-api/.project
/backend/mentara-api/.classpath
/backend/mentara-api/.c9/
/backend/mentara-api/*.launch
/backend/mentara-api/.settings/
/backend/mentara-api/*.sublime-workspace

# IDE - VSCode
/backend/mentara-api/.vscode/*
!/backend/mentara-api/.vscode/settings.json
!/backend/mentara-api/.vscode/tasks.json
!/backend/mentara-api/.vscode/launch.json
!/backend/mentara-api/.vscode/extensions.json

# dotenv environment variable files
/backend/mentara-api/.env
/backend/mentara-api/.env.development.local
/backend/mentara-api/.env.test.local
/backend/mentara-api/.env.production.local
/backend/mentara-api/.env.local

# temp directory
/backend/mentara-api/.temp
/backend/mentara-api/.tmp

# Runtime data
/backend/mentara-api/pids
/backend/mentara-api/*.pid
/backend/mentara-api/*.seed
/backend/mentara-api/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Virtual Environment - all possible locations
venv/
*/venv/
**/venv/
env/
*/env/
**/env/
ENV/
*/ENV/
**/ENV/
virtualenv/
*/virtualenv/
**/virtualenv/
.venv/
*/.venv/
**/.venv/
.env/
*/.env/
**/.env/
.ENV/
*/.ENV/
**/.ENV/
.virtualenv/
*/.virtualenv/
**/.virtualenv/

# === FRONTEND ===
# dependencies
/client/node_modules
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/client/coverage
/coverage

# next.js
/client/.next/
/client/out/
/.next/
/out/

# production
/client/build
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel
/client/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/client/*.tsbuildinfo
/client/next-env.d.ts

# clerk configuration (can include secrets)
/.clerk/
/client/.clerk/

# Flask
flask/venv
flask/__pycache__
