@keyframes svelte-1q37ri0-gradient{0%,to{opacity:.3}50%{opacity:.5}}.animate-gradient.svelte-1q37ri0{animation:svelte-1q37ri0-gradient 8s ease-in-out infinite}.delay-1000.svelte-1q37ri0{animation-delay:1s}
